name: Manual Pharmacy Update

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # 저장소에 글을 쓸 수 있는 권한을 명시적으로 부여합니다.
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          NAT_API_KEY: ${{ secrets.NAT_API_KEY }}
        run: python update_script.py

      - name: Check for changes
        run: |
          ls -R _posts  # 파일이 실제로 생성되었는지 로그로 확인

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add _posts/*.md || echo "No new posts to add"
          git commit -m "부천 설날 약국 리스트 업데이트" || echo "No changes to commit"
          git push
